@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Common Shared Style */

.common-title{
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
}

.btn-primary{
    background-color: orange;
    color: white;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    font-size: 1.25rem;
    cursor: pointer ;

}

.common-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.features-common-title{
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}




/* Header section */

header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}

nav li{
    
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav a{
    text-decoration: none;
    color: #131313;
}

.login{
    background-color: orange;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

/* Banner section */

.banner{
    text-align: center;
}

.banner-content{
    max-width: 860px;
    margin: 0 auto;
}

.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-description{
    margin-bottom: 50px;
}



.banner-img{
    margin-top: 30px;
}
.banner-img img{
    width: 100%;
}

/* Main Section */

main{
    max-width: 1440px;
    margin: 70px auto;
}

/* Quick list section */

.team-container{
    display: flex;
    align-items: center;

}

.team-text{
    padding-left: 70px;
    padding-right: 70px;
}

.team-text h3{
    font-size: 2.8rem;
    color: #727272;
    font-weight: 700;
    margin-bottom: 24px;
}

.team-text p{
    margin-bottom: 30px;
}
.span-our{
    color: #131313;
}

.span-features{
    color: #FF900E;
}


.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

/* Features section */

.features-container{
    margin-top: 110px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

.features-text{
    max-width: 586px;
    width: 100%;
}

.features-title{
    margin-bottom: 24px;
    border-left: 5px orange solid;
    padding-left: 20px;
}

.features-description{
    margin-bottom: 30px;
}

.features-box{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 40px 30px 30px;
    margin-bottom: 20px;
}

.features-images img{
    max-height: 90%;
    margin-left: 70px;

}

.experience-container{
    border-radius: 8px;
    background: #FF900E;
    width: 342px;
    text-align: center;
    padding: 40px;
    position: relative;
    bottom: 100px;
}

.experience-container .experience-year{
    color: white;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.experience-container .experience-text{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}


/* Card Style */

.card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    
}

.facts-title{
    margin-top: 130px;
    margin-bottom: 24px;
}


.card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 45px 36px 60px 36px;
    text-align: center;
    margin-bottom: 100px;
}

.card-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
}

.card-title{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}

/* Sponsors Section */

.sponsors-section{
    text-align: center;
}

.sponsors-title{
    margin-bottom: 24px;
}

.sponsors-description{
    margin-bottom: 50px;
}

.sponsors-image-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Footer section  */

footer{
    max-width: 1440px;
    margin:  0 auto;

}

.footer{
    border-radius: 8px;
    background-color: #FFF4E7;
    padding: 40px;
    margin-bottom: 200px;
}

.footer-text{
    color: #424242;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}


/* Responsive for small device */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
        gap: 10px;
    }

    .team-container{
        flex-direction: column-reverse;
        gap: 10px;
    }

    .team-img{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .team-text{
        padding-left: 20px;
        padding-right: 20px;
    }

    .features-container{
        flex-direction: column;
    }

    .features-text{
        padding: 10px;
    }

    .features-images img{
        max-width: 300px;
    
    }

    .experience-container{
        max-width: 300px;
    }

    .experience-container .experience-year{
        font-size: 3rem;
    }

    .facts-section{
        margin-left: 20px;
    }

    .card-container{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        gap: 20px;
    }

    .sponsors-image-container{
        flex-direction: column;
        max-width: 150px;
        gap: 40px;
        margin: 0 auto;

    }
}

/* Responsive for medium device */

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
        gap: 10px;
    }
    .team-container{
        flex-direction: column-reverse;
        gap: 10px;
    }

    .features-container{
        flex-direction: column;
    }

    .facts-section{
        margin-left: 20px;
    }

    .card-container{
        display: grid;
        grid-template-columns: repeat(2, 0.5fr);
        padding-left: 20px;
        padding-right: 20px;
        gap: 20px;
    }

    .sponsors-image-container{
        flex-direction: column;
        max-width: 150px;
        gap: 40px;
        margin: 0 auto;

    }
}