@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Common Shared Style */

.common-title{
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
}

.btn-primary{
    background-color: orange;
    color: white;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    font-size: 1.25rem;
    cursor: pointer ;

}

.common-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}




/* Header section */

header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}

nav li{
    
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav a{
    text-decoration: none;
    color: #131313;
}

.login{
    background-color: orange;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

/* Banner section */

.banner{
    text-align: center;
}

.banner-content{
    max-width: 860px;
    margin: 0 auto;
}

.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
}



.banner-img{
    margin-top: 30px;
}
.banner-img img{
    width: 100%;
}

/* Main Section */

main{
    max-width: 1440px;
    margin: 70px auto;
}

.team-container{
    display: flex;
    align-items: center;

}

.team-text{
    padding-left: 70px;
    padding-right: 70px;
}

.team-text h3{
    font-size: 2.8rem;
    color: #727272;
    font-weight: 700;
    margin-bottom: 24px;
}

.team-text p{
    margin-bottom: 30px;
}
.span-our{
    color: #131313;
}

.span-features{
    color: #FF900E;
}


.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}







/* Responsive for small device */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
        gap: 10px;
    }

    .team-container{
        flex-direction: column-reverse;
        gap: 10px;
    }

    .team-img{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .team-text{
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

/* Responsive for medium device */

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
        gap: 10px;
    }
    .team-container{
        flex-direction: column-reverse;
        gap: 10px;
    }
}